.navbar {
    background-color: rgb(146, 146, 146);
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.nav-link {
    color:rgb(0, 0, 0);
    margin: 10px;
}

.item-list {       
    display: flex;
    flex-direction: column;    
    background-color: rgb(27, 94, 172);
    margin-right: 50px;
    padding: 20px;
}

.navbar-home {
    background-color: rgb(27, 94, 172);
    margin-left: 50px;
    padding: 20px;
    font: 20px;
}

.navbar-dark {
    background-color: rgb(156, 156, 156);
}
