.login-container {
    height: 50vh
}

.form {
    width: 100%;
}

.tab-container {
    width: 250px;    
}

.sidebar {
    height: 100vh;
    display: flex;
    flex-grow: initial;
}

.message-form {
    height: 75px;
    resize: none;
}

